node_modules
build/
tsconfig.json
tslint.json
yarn.lock
.idea
.vscode
coverage/
coverageEnv/
coverage.json
/.soliumignore
/.soliumrc.json
/.node*
.env
db/
resources/**/
.DS_Store
resources/.DS_Store
client/design